<template>
  <div id="app">
    <navbar></navbar>
    <div class="main-view">
      <router-view/>
    </div>
    <!--<footer></footer>-->
  </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import { Component } from 'vue-property-decorator';
    import Navbar from './components/Navbar.vue';

    @Component({
        components: {
            Navbar,
        },
    })
    export default class App extends Vue {}
</script>

<style lang="scss">
@import 'assets/scss/custom.scss';
</style>