// Import Bulma's core
@import "~bulma/sass/utilities/_all";
@import "~@mdi/font/css/materialdesignicons.min.css";
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i');

$body-background-color: rgb(225, 225, 225);
$table-head-cell-color: rgb(255, 255, 255);

// Import Bulma and Buefy styles
@import "theme/lumen/main";
@import "~buefy/src/scss/buefy";

html {
  overflow: auto;

  height: 100%;
  background: url('./assets/pattern2.png') fixed;
  &:after {
    background: rgba(41, 11, 18, 0.8);
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
  }
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
}

.main-view {
  margin-top: 4rem;
}

.table-head {
  background-color: #bf0404;
}