<template>
    <section id="room-create">
        <div class="container box">
            <div class="columns">
                <div class="column has-text-centered">
                    <h1 class="title">{{ $t('create_room.title') }}</h1>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Nazwa pokoju</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" placeholder="e.g. Partnership opportunity">
                        </div>
                        <p class="help">
                            {{ $t('common.field_required') }}
                        </p>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Restauracja</label>
                </div>
                <div class="field-body">
                    <div class="field is-narrow">
                        <div class="control">
                            <div class="select is-fullwidth">
                                <multiselect v-model="selectedRestaurant" :options="[]"></multiselect>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label">
                    <label class="label">Already a member?</label>
                </div>
                <div class="field-body">
                    <div class="field is-narrow">
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="member">
                                Yes
                            </label>
                            <label class="radio">
                                <input type="radio" name="member">
                                No
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Subject</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input is-danger" type="text" placeholder="e.g. Partnership opportunity">
                        </div>
                        <p class="help is-danger">
                            {{ $t('common.field_required') }}
                        </p>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Question</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <textarea class="textarea" placeholder="Explain how we can help you"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label">
                    <!-- Left empty for spacing -->
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <button class="button is-primary">
                                Send message
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component } from 'vue-property-decorator';
import Multiselect from "vue-multiselect";
@Component({
    components: {Multiselect}
})
export default class CreateRoom extends Vue {
    public selectedRestaurant: object = {};
}
</script>

<style scoped lang="scss">
@import '~vue-multiselect/dist/vue-multiselect.min.css';
</style>