<template>
    <section id="home">
        <div class="hero">
            <div class="hero-body is-large is-primary is-bold">
                <div class="container">
                    <h1 class="title has-text-white">
                        {{ $t('home.first_hero_title') }}
                    </h1>
                    <h2 class="subtitle has-text-white">
                        {{ $t('home.first_hero_subtitle') }}
                    </h2>
                </div>
            </div>
        </div>
        <div class="hero is-danger">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        {{ $t('home.second_hero_title') }}
                    </h1>
                    <h2 class="subtitle">
                        {{ $t('home.second_hero_subtitle') }}
                    </h2>
                </div>
            </div>
        </div>
    </section>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';

    @Component
    export default class Home extends Vue {
    }
</script>
