<template>
    <section id="room-list">
        <div class="container box">
            <h1 class="title">{{ $t('rooms.title') }}</h1>
            <table class="table is-hoverable is-fullwidth is-mobile">
                <thead class="table-head">
                <tr>
                    <th>#</th>
                    <th>{{ $t('rooms.table_list.name') }}</th>
                    <th>{{ $t('rooms.table_list.participants') }}</th>
                    <th>{{ $t('rooms.table_list.created') }}</th>
                    <th>{{ $t('rooms.table_list.secured') }}</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(room, key) in rooms">
                    <th><router-link :to="`/room/${room._id}`">{{ key }}</router-link></th>
                    <td>{{ room.name }}</td>
                    <td>{{ room.participants }}</td>
                    <td>{{ room.createdAt }}</td>
                    <td>
                        <b-icon v-if="room.password !== undefined" icon="lock-outline" size="is-small"></b-icon>
                        <b-icon v-else icon="lock-open-outline" size="is-small"></b-icon>
                    </td>
                </tr>
                </tbody>

            </table>
        </div>
    </section>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import axios from 'axios';

    @Component
    export default class RoomsList extends Vue {
        private rooms: object[] = [];

        public created() {
            axios.get('http://localhost:3000/rooms').then((response) => {
                this.rooms = response.data;
            });
        }
    }
</script>

<style scoped>

</style>