<template>
    <div class="container">
        <section class="lobby__title hero is-transparent">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title has-text-white">
                        Pokój {{ room.name }}
                    </h1>
                    <h2 class="subtitle">
                        {{ roomId }}
                    </h2>
                </div>
            </div>
        </section>
        <section class="lobby__main">
            <div class="container box">
                <div class="level is-mobile">
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Utworzono</p>
                            <abbr title="dziś, 16:00" class="title">16:00</abbr>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Uczestnicy</p>
                            <p class="title">7</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Wygasa</p>
                            <abbr title="dziś, 19:00" class="title">19:00</abbr>
                        </div>
                    </div>
                </div>
                <div class="columns is-mobile">
                    <div class="field is-horizontal">
                        <div class="column is-2">
                            <div class="field-label is-normal">
                                <label class="label has-text-white"><i class="mdi mdi-link-variant"></i></label>
                            </div>
                        </div>
                        <div class="column is-8">
                            <div class="field-body">
                                <div class="field">
                            <span class="input">
                                https://zamawiamy.co/lobby/{{ roomId}}
                            </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="container">
                <div class="columns">
                    <div class="column is-4">
                        <div class="card">
                            <div class="card-content has-background-white">
                                <h3>Uczestnicy</h3>
                                <div class="columns is-mobile">
                                    <div class="column is-10">
                                        <i class="mdi mdi-account"></i> Art-B
                                    </div>
                                    <div class="column is-2">
                                        <i class="delete"></i>
                                    </div>
                                </div>
                                <div class="columns is-mobile">
                                    <div class="column is-10">
                                        <i class="mdi mdi-account"></i> Art-B
                                    </div>
                                    <div class="column is-2">
                                        <i class="delete"></i>
                                    </div>
                                </div>
                                <div class="columns is-mobile">
                                    <div class="column is-10">
                                        <i class="mdi mdi-account"></i> Art-B
                                    </div>
                                    <div class="column is-2">
                                        <i class="delete"></i>
                                    </div>
                                </div>
                                <div class="columns is-mobile">
                                    <div class="column is-10">
                                        <i class="mdi mdi-account"></i> Art-B
                                    </div>
                                    <div class="column is-2">
                                        <i class="delete"></i>
                                    </div>
                                </div>
                                <div class="columns is-mobile">
                                    <div class="column is-10">
                                        <i class="mdi mdi-account"></i> Art-B
                                    </div>
                                    <div class="column is-2">
                                        <i class="delete"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card" style="background-color: white;">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-left">
                                        <figure class="image is-96x96">
                                            <img src="https://static.pyszne.pl/images/restaurants/pl/Q1555QO/logo_465x320.png" alt="Placeholder image">
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <p class="title is-4">Yeti Pizza</p>
                                        <p class="subtitle is-6">
                                            <a href="https://www.pyszne.pl/yetipizza">https://www.pyszne.pl/yetipizza</a>
                                            <br />
                                            Preferowana forma płatności: przelew
                                        </p>
                                    </div>
                                </div>
                                <a class="button is-primary is-outlined">Dodaj <i class="mdi mdi-plus"></i></a>
                                <table class="table is-hoverable is-fullwidth is-mobile">
                                    <thead>
                                    <tr>
                                        <th><abbr title="Liczba porządkowa">#</abbr></th>
                                        <th>Kto</th>
                                        <th>Co</th>
                                        <th>Ile</th>
                                        <th>Zapłacone</th>
                                        <th><i class="mdi mdi-playlist-edit"></i></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th>1</th>
                                        <td>Arczi</td>
                                        <td>Kurczak sł-kw</td>
                                        <td>22</td>
                                        <td><span class="icon has-text-success"><i class="mdi mdi-check"></i></span></td>
                                        <td>
                                                <span class="icon has-text-info">
                                                    <i class="mdi mdi-pencil"></i>
                                                </span>
                                            <span class="icon has-text-danger">
                                                    <i class="mdi mdi-delete"></i>
                                                </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>1</th>
                                        <td>Janek</td>
                                        <td>Kurczak na ostro</td>
                                        <td>21</td>
                                        <td><span class="icon has-text-success"><i class="mdi mdi-check"></i></span></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>1</th>
                                        <td>Paruwa</td>
                                        <td>Hawajska 30cm</td>
                                        <td>25</td>
                                        <td><span class="icon has-text-danger"><i class="mdi mdi-close"></i></span></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>1</th>
                                        <td>Rafi</td>
                                        <td>Kebsik</td>
                                        <td>12</td>
                                        <td><span class="icon has-text-success"><i class="mdi mdi-check"></i></span></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>1</th>
                                        <td>Arczi</td>
                                        <td>Kurczak sł-kw</td>
                                        <td>22</td>
                                        <td><span class="icon has-text-success"><i class="mdi mdi-check"></i></span></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>1</th>
                                        <td>Janek</td>
                                        <td>Kurczak na ostro</td>
                                        <td>21</td>
                                        <td><span class="icon has-text-success"><i class="mdi mdi-check"></i></span></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>1</th>
                                        <td>Paruwa</td>
                                        <td>Hawajska 30cm</td>
                                        <td>25</td>
                                        <td><span class="icon has-text-danger"><i class="mdi mdi-close"></i></span></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>1</th>
                                        <td>Rafi</td>
                                        <td>Kebsik</td>
                                        <td>12</td>
                                        <td><span class="icon has-text-success"><i class="mdi mdi-check"></i></span></td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import axios from 'axios';

@Component
export default class Room extends Vue {
    public roomId: string = '';
    public room: object = {};

    public created() {
        this.roomId = this.$route.params.id;
        axios.get(`http://localhost:3000/rooms/${this.roomId}`).then((response) => {
            this.room = response.data;
        });
    }
}
</script>

<style scoped>

</style>