////////////////////////////////////////////////
// LUMEN
////////////////////////////////////////////////

$orange: #ff851b;
$green: #28b62c;
$blue: #5bb7db;
$red: #ff4136;

$primary: #92bee6;

$info-invert: #fff;

$family-sans-serif: 'IBM Plex Sans', sans-serif;

$thickness: 4px;

$pagination-current-border: darken($primary, 5);

$navbar-item-active-color: $primary;

$dropdown-content-shadow: 0 0 0 1px #dbdbdb, 0 #{$thickness} 0 1px #dbdbdb;

$navbar-dropdown-boxed-shadow: $dropdown-content-shadow;

$bulmaswatch-import-font: true !default;