<template>
    <nav class="navbar is-fixed-top">
        <div class="container">
            <div class="navbar-brand">
                <router-link to="/" class="navbar-item is-size-4">{{ $t('menu.app_name') }}</router-link>
                <div class="navbar-burger burger" @click="toggleMenu" :class="{'is-active': navIsActive}" data-target="navbarExampleTransparentExample">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>

            <div id="navbarExampleTransparentExample" class="navbar-menu" :class="{'is-active': navIsActive}">
                <div class="navbar-start">
                    <router-link class="navbar-item" to="/rooms">
                        <b-icon icon="view-list" size="is-small"></b-icon><span>{{ $t('menu.rooms_list') }}</span>
                    </router-link>
                    <router-link class="navbar-item" to="/rooms/create">
                        <b-icon icon="plus" size="is-small"></b-icon><span>{{ $t('menu.create_room') }}</span>
                    </router-link>
                </div>

                <div class="navbar-end">
                    <b-dropdown hoverable>
                        <a class="navbar-item" slot="trigger">
                            <span>{{ $t('menu.language') }}</span>
                            <b-icon icon="menu-down"></b-icon>
                        </a>
                        <b-dropdown-item v-for="language in languages" :key="language.code" @click="changeLanguage(language.code)">
                            <span v-html="language.flag"></span> {{ $t('menu.languages.' + language.code) }}
                        </b-dropdown-item>
                    </b-dropdown>
                    <b-dropdown position="is-bottom-left">
                        <a class="navbar-item" slot="trigger">
                            <span>{{ $t('menu.user_dropdown.not_logged.dropdown_text') }}</span>
                            <b-icon icon="menu-down"></b-icon>
                        </a>

                        <b-dropdown-item custom paddingless>
                            <form action="">
                                <div class="modal-card" style="width:300px;">
                                    <section class="modal-card-body">
                                        <b-field :label="$t('menu.user_dropdown.not_logged.email')">
                                            <b-input
                                                    type="email"
                                                    :placeholder="$t('menu.user_dropdown.not_logged.email_placeholder')"
                                                    required>
                                            </b-input>
                                        </b-field>

                                        <b-field :label="$t('menu.user_dropdown.not_logged.password')">
                                            <b-input
                                                    type="password"
                                                    password-reveal
                                                    :placeholder="$t('menu.user_dropdown.not_logged.password_placeholder')"
                                                    required>
                                            </b-input>
                                        </b-field>

                                        <b-checkbox>{{ $t('menu.user_dropdown.not_logged.remember_me') }}</b-checkbox>
                                    </section>
                                    <footer class="modal-card-foot">
                                        <button class="button is-primary">{{ $t('menu.user_dropdown.not_logged.login_button') }}</button>
                                    </footer>
                                </div>
                            </form>
                        </b-dropdown-item>
                    </b-dropdown>
                </div>
            </div>
        </div>
    </nav>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import {Language} from '../models/navbar';

@Component
export default class Navbar extends Vue {
    public navIsActive: boolean = false;
    public languages: Language[] = [
        {
            code: 'pl',
            flag: '&#x1F1F5&#x1F1F1',
        },
        {
            code: 'en',
            flag: '&#x1F1EC&#x1F1E7',
        },
    ];

    public toggleMenu(): void {
        this.navIsActive = !this.navIsActive;
    }

    public changeLanguage(language: string): void {
        this.$i18n.locale = language;
    }
}
</script>

<style scoped>

</style>